* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-bottom {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 755px) {
    .footer-bottom > .logo {
        display: none;
    }
}
@media screen and (max-width: 488px) {
    .footer-bottom > .logo {
        display: flex;
    }
    .footer-bottom > .w-100 {
        display: none;
    }
}